* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

.wrapper {
  color: #fff;
  font-size: 60px;
  line-height: 2.5;
  font-weight: 700;
  text-align: center;
}

.inner {
  display: flex;
  justify-content: center;
  height: 300px;
}

.header {
  height: 150px;
  background: rgb(138, 136, 135);
  text-align: center;
}

.aside-1 {
  background: rgb(104, 104, 103);
  width: 70%;
}

.aside-2 {
  background: rgb(85, 85, 85);
  width: 30%;
}
