@font-face {
  font-family: 'SuisseIntl';
  src: url('../fonts/SuisseIntl-Bold.woff2') format('woff2'),
    url('../fonts/SuisseIntl-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SuisseIntl';
  src: url('../fonts/SuisseIntl-Medium.woff2') format('woff2'),
    url('../fonts/SuisseIntl-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SuisseIntl';
  src: url('../fonts/SuisseIntl-Regular.woff2') format('woff2'),
    url('../fonts/SuisseIntl-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'SuisseIntl', sans-serif;
  font-weight: 400;
  background-color: #222220;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.container {
  max-width: 1220px;
  padding: 0 15px;
  margin: 0 auto;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
}

a {
  text-decoration: none;
}

.menu {
  min-height: 144px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__contact {
  display: flex;
  align-items: center;
  column-gap: 42px;
}

.menu__btn {
  background-color: transparent;
  border: none;
  width: 35px;
  height: 40px;
    box-shadow: 0px 0px 15.1515px rgba(189, 45, 67, 0.5);
  position: relative;
  cursor: pointer;
  text-align: center;
  order: 2;
  display: none;
}


.menu__line {
  background-color: #fff;
  position: absolute;
  border-radius: 2px;
  transition: 0.2s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  width: 100%;
  height: 5px;
  left: 0;
}

.menu__line--top {
  top: 5px;
}

.menu__line--center {
  top: calc(50% - 3px);
}

.menu__line--bottom {
  bottom: 5px;
}

.menu__line--top.active {
  transform: rotate(45deg);
  top: 18px;
}

.menu__line--center.active {
  transform: rotate(-45deg);
  top: 18px;
}

.menu__line--bottom.active {
  background-color: transparent;
}


.menu__list {
  display: flex;
  column-gap: 25px;
}

.menu__link {
  font-size: 18px;
  line-height: 1.2;
  color: #fff;
  transition: color 0.5s ease;
}

.menu__link:hover {
  color: #CB3B48;
}

.menu__link--drop-down {
  position: relative;
}

.drop-down__list {
  background-color: #222220;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  position: absolute;
  max-width: 172px;
  padding: 11px 9px;
  display: none;
}

.drop-down__item {
  max-width: 154px;
}

.drop-down__item:not(:last-child) {
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid #2F2F2F;
}

.menu__item--drop-down:hover .drop-down__list {
  display: block;
}

.menu__link--drop-down {
  font-size: 16px;
}

.menu__phone {
  width: 53px;
  height: 53px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1B1B1B;
  box-shadow: 0px 0px 15.1515px rgba(189, 45, 67, 0.5);
  border-radius: 8px;
  transition: background-color 0.5s ease;
}

.menu__phone:hover {
  background-color: #CB3B48;
}

.menu__button {
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  background-color: #CB3B48;
  border-radius: 5px;
  color: #fff;
  padding: 15px 18px 16px;
  border: none;
  cursor: pointer;
  transition: background-color 0.5s ease,
    color 0.5s ease,
    box-shadow 0.5s ease;
}

.menu__button:hover {
  background-color: #fff;
  color: #CB3B48;
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
}

.news {
  width: 100%;
  min-height: 441px;
  background-color: #CB3B48;
  background-image: url('../image/slider/bg/bg.png');
}

.news__title {
  padding-top: 31px;
  margin-bottom: 33px;
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  text-transform: uppercase;
  color: #fff;
}

.news__slider {
  display: flex;
  justify-content: space-between;
}

.news__img {
  max-width: 224px;
  min-height: 279px;
  overflow: hidden;
}

.news__item {
  position: relative;
}

.news__item-link {
  width: 192px;
  height: 246px;
  position: absolute;
  top: 6px;
  left: 16px;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #C7434F;
  border-radius: 23px;
  text-shadow: 0px 0px 30px rgba(199, 67, 79, 0.52);
  background-color: rgba(255, 255, 255, 0.9);
  opacity: 0;
  transition: opacity 0.5s ease;
}

.news__item-link:hover {
  opacity: 1;
}

.slick-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
  cursor: pointer;
  outline: none;
}

.slick-prev {
  left: -20px;
}

.slick-next {
  right: -10px;
}

.slick-dots {
  display: flex;
  column-gap: 15px;
  position: absolute;
  bottom: -29px;
  left: 50%;
  transform: translateX(-50%);
}

.slick-dots button {
  width: 7px;
  height: 12px;
  border-radius: 50%;
  font-size: 0;
  border: none;
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.slick-active button {
  background-color: #262121;
  transform: scale(1.5);
}

.slick-dots button:hover {
  background-color: #262121;
}

.bar-menu {
  padding-top: 27px;
}

.bar-menu-title {
  display: flex;
  column-gap: 39px;
  margin-bottom: 32px;
}

.bar-menu-title__btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  color: #505050;
  transition: color 0.5s ease;
}

.bar-menu-title__btn:hover {
  color: #CB3B48;
}

.bar-menu-title__btn--active {
  color: #fff;
}

.bar-menu__filter {
  display: flex;
  column-gap: 33px;
  justify-content: space-between;
  margin-bottom: 34px;
}

.bar-menu__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 53px;
  row-gap: 12px;
}

.bar-menu__link {
  color: #fff;
  font-size: 18px;
  line-height: 21px;
  transition: color 0.5s ease;
}

.bar-menu__link:hover {
  color: #CB3B48;
}

.bar-menu__form {
  display: flex;
}

.bar-menu__input {
  width: 221px;
  height: 50px;
  background-color: #222220;
  border: 1px solid #B7B7B7;
  border-radius: 5px;
  color: #B7B7B7;
  padding: 0 16px;
}

.bar-menu__input::placeholder {
  font-size: 16px;
  line-height: 19px;
  color: #B7B7B7;
}

.bar-menu__search {
  width: 50px;
  height: 50px;
  border: none;
  background-color: #CB3B48;
  box-shadow: 0px 0px 15px #CB3B48;
  border-radius: 0px 5px 5px 0px;
  transition: background-color 0.5s ease,
    box-shadow 0.5s ease;
}

.bar-menu__search svg path {
  transition: stroke 0.5s ease;
}

.bar-menu__search:hover svg path {
  stroke: #CB3B48;
}

.bar-menu__search:hover {
  background-color: #fff;
  box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.51);
}

.filter {
  display: flex;
  align-items: center;
  column-gap: 32px;
  margin-bottom: 39px;
}

.filter__button {
  width: 155px;
  height: 50px;
  border: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #fff;
  background-color: #CB3B48;
  box-shadow: 0px 0px 15px #CB3B48;
  border-radius: 5px;
  transition: background-color 0.5s ease,
    box-shadow 0.5s ease;
}

.filter__button svg path {
  transition: stroke 0.5s ease;
}

.filter__button:hover svg path {
  fill: #CB3B48;
}

.filter__button:hover {
  color: #CB3B48;
  background-color: #fff;
  box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.51);
}

.filter__btn {
  height: 40px;
  border: 1px solid #CB3B48;
  filter: drop-shadow(0px 0px 10px #CB3B48);
  border-radius: 100px;
  padding: 11px 36px 10px 24px;
  text-transform: uppercase;
  color: #fff;
  transition: color 0.5s ease;
}

.filter__btn:hover {
  color: #CB3B48;
}

.filter__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 25px;
  row-gap: 42px;
  margin-bottom: 73px;
}

.filter__item {
  position: relative;
  background-color: #161615;
  background-image: url('../image/bar-menu/bg.png');
  border-radius: 24px;
  padding: 20px 21px 34px 33px;
}

.filter__item::before {
  content: "";
  border-radius: 30px 30px 0 0;
  width: 210px;
  height: 9px;
  background-color: #CB3B48;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0px;
}

.filter__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 25px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 11px;
}

.filter__item p {
  max-width: 280px;
  color: #CB3B48;
  margin-bottom: 19px;
}

.filter__more {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.filter__price {
  text-transform: uppercase;
  color: #fff;
}

.filter__price span {
  font-size: 36px;
  line-height: 42px;
  font-weight: 700;
}

.filter__all {
  padding: 12px 21px;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #fff;
  background-color: #CB3B48;
  border-radius: 5px;
  transition: color 0.5s ease,
    background-color 0.5s ease;
}

.filter__all:hover {
  background-color: #fff;
  color: #CB3B48;
}

.filter__item-img {
  margin-top: 56px;
  padding: 0;
}

.filter__item-content {
  padding: 20px 21px 34px 33px;
}

.filter__img {
  max-width: 768px;
  min-height: 393px;
}

img {
  width: 100%;
}

.filter-btn__all {
  text-align: center;
  padding: 14px 34px;
  text-transform: uppercase;
  color: #fff;
  background-color: #CB3B48;
  box-shadow: 0px 0px 14.9668px #CB3B48;
  border-radius: 100px;
  display: block;
  max-width: 227px;
  margin: 0 auto 75px;
  transition: background-color 0.5s ease,
    color 0.5s ease;
}

.filter-btn__all:hover {
  background-color: #fff;
  color: #CB3B48;
}

.footer {
  width: 100%;
  min-height: 158px;
  background-color: #161615;
  background-image: url('../image/footer/bg.png');
}

.footer__top {
  padding-top: 45px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 23px;
}

.footer__logo {
  min-height: 74px;
  max-width: 320px;
}

.footer__list {
  max-width: 388px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 87px;
}

.footer__link {
  color: #DCDCDC;
  transition: color 0.5s ease;
}

.footer__link:hover {
  color: #CB3B48;
}

.footer__phone {
  font-size: 24px;
  line-height: 28px;
  color: #BD2D43;
  transition: color 0.5s ease;
}

.footer__phone:hover {
  color: #fff;
}

.footer__reserv p {
  text-align: right;
  font-size: 12px;
  line-height: 14px;
  color: #8F8F8F;
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  padding-bottom: 16px;
}

.footer__bottom-confid {
  display: flex;
  column-gap: 21px;
}

.footer__bottom-confid a {
  color: #9C9C9C;
  border-bottom: 1px solid #9C9C9C;
}

.footer__copy {
  color: #9C9C9C;
}

.footer__social {
  display: flex;
  column-gap: 16px;
}

.footer__social a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #101010;

  transition: background-color 0.5s ease;
}

.footer__social a:hover {
  background-color: #fff;
}